/*           All that belongs to the GUI           */
#tabButtonAdminAction {
	height: 20px;
	top: 40px;
	left: 1380px;
	width: 80px;
}

#tabAdminAction {
	height: 14px;
	top: 40px;
	left: 1380px;
	width: 74px;
}

