/*           All that belongs to the address           */
#tabButtonAdminAddress {
	height: 20px;
	top: 40px;
	left: 160px;
	width: 80px;
}

#tabAdminAddress {
	height: 14px;
	top: 40px;
	left: 160px;
	width: 74px;
}
