/*           All that belongs to the build           */
#tabButtonAdminBuild {
	height: 20px;
	top: 20px;
	left: 720px;
	width: 120px;
}

#tabAdminBuild {
	height: 14px;
	top: 20px;
	left: 720px;
	width: 114px;
}

