/*           All that belongs to the company           */
#tabButtonAdminCompany {
	height: 20px;
	top: 40px;
	left: 80px;
	width: 80px;
}

#tabAdminCompany {
	height: 14px;
	top: 40px;
	left: 80px;
	width: 76px;
}

