/*           All that belongs to the company           */
#tabButtonAdminCompany {
	height: 20px;
	top: 20px;
	left: 0px;
	width: 120px;
}

#tabAdminCompany {
	height: 14px;
	top: 20px;
	left: 0 px;
	width: 116px;
}

