/*           All that belongs to the dataset           */
#tabButtonAdminDataSet {
	top: 40px;
	left: 480px;
	height: 20px;
	width: 120px;
}

#tabAdminDataSet {
	top: 40px;
	left: 480px;
	height: 14px;
	width: 114px;
}

