/*           All that belongs to the delivery transport           */
#tabButtonAdminDeliveryTransport {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 840px;
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: block;
}

#tabAdminDeliveryTransport {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 840px;
	width: 114px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: block;
}

#browseFormDeliveryTransport {
	border: 1px solid #B2B2B2;
}

#tabButtonsbDeliveryTransportsbDeliveryTransportNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px 2px 0px 0px;
}

#tabButtonsbDeliveryTransportsbDeliveryTransportDeliveryTransport {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px 2px 0px 0px;
}

#tabsbDeliveryTransportsbDeliveryTransportNote {
	color: black;
	background-color: #B2B2B2;
	border: 0 none;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: inline-block;
	font-size: 12px;
	font-family: "Tahoma";
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 0px;
	font-style: italic;
}

#tabsbDeliveryTransportsbDeliveryTransportDeliveryTransport {
	color: black;
	background-color: #B2B2B2;
	border: 0 none;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: inline-block;
	font-size: 12px;
	font-family: "Tahoma";
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 0px;
	font-style: italic;
}

#DeliveryTransportORDERidDeliveryTransport,
	#DeliveryTransportORDERDeliveryNoteName,
	#DeliveryTransportORDERdeliveryTransportMethod,
	#DeliveryTransportORDERdeliveryTransportOption,
	#DeliveryTransportORDERdeliveryTransportDate,
	#DeliveryTransportORDERdeliveryTransportPayment {
	
}