/*           All that belongs to the delivery transport           */
#tabButtonAdminDeliveryTransport {
	height: 20px;
	top: 40px;
	left: 840px;
	width: 120px;
}

#tabAdminDeliveryTransport {
	height: 14px;
	top: 40px;
	left: 840px;
	width: 114px;
}

