/*           All that belongs to the deliverynote           */
#tabButtonAdminDeliveryNote {
	height: 20px;
	top: 40px;
	left: 960px;
	width: 120px;
}

#tabAdminDeliveryNote {
	height: 14px;
	top: 40px;
	left: 960px;
	width: 114px;
}

