/*           All that belongs to the demand           */
#tabButtonAdminDemand {
	top: 20px;
	left: 480px;
	width: 240px;
}

#tabAdminDemand {
	height: 14px;
	top: 20px;
	left: 480px;
	width: 234px;
}
