@CHARSET "UTF-8";

div.ganttBar {
  position: absolute;
  height: 20px;
  min-width: 1px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 

div.ganttLane {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 800px;
  border-bottom: 1px solid lightgray;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

div.ganttLaneLabel {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 199px;
  border-right: 1px solid lightgray;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}