@CHARSET "UTF-8";

body {
  font-family: "Tahoma";
  font-size: 12px;
}

div.ganttBar {
  position: absolute;
  top: 0px;
  height: 10px;
  min-width: 1px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} 

div.ganttLane {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 1300px;
  border-bottom: 1px solid lightgray;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

div.ganttLaneLabel {
	font-size: 12px;
  display: inline-block;
  position: relative;
  height: 15px;
  width: 199px;
  border-right: 1px solid lightgray;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#gantt {
  width: 1025px;
  height: 700px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

td.gantt {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table.gantt {
	width: 100%;
	padding: 0px;
	margin: 0px;
}