#idAccount {
   display: none;
}

#LabelidAccount {
   display: none;
}

#idAddress {
   display: none;
}

#LabelidAddress {
   display: none;
}

#idBuild {
   display: none;
}

#LabelidBuild {
   display: none;
}

#idCompany {
   display: none;
}

#LabelidCompany {
   display: none;
}

#idDataSet {
   display: none;
}

#LabelidDataSet {
   display: none;
}

#idDeliveryNote {
   display: none;
}

#LabelidDeliveryNote {
   display: none;
}

#idDeliveryTransport {
   display: none;
}

#LabelidDeliveryTransport {
   display: none;
}

#idDemand {
   display: none;
}

#LabelidDemand {
   display: none;
}

#idGUI {
   display: none;
}

#LabelidGUI {
   display: none;
}

#idIndustry {
   display: none;
}

#LabelidIndustry {
   display: none;
}

#idInvoice {
   display: none;
}

#LabelidInvoice {
   display: none;
}

#idNote {
   display: none;
}

#LabelidNote {
   display: none;
}

#idPart {
   display: none;
}

#LabelidPart {
   display: none;
}

#idPerson {
   display: none;
}

#LabelidPerson {
   display: none;
}

#idPlatform {
   display: none;
}

#LabelidPlatform {
   display: none;
}

#idPrintParameters {
   display: none;
}

#LabelidPrintParameters {
   display: none;
}

#idProject {
   display: none;
}

#LabelidProject {
   display: none;
}

#idQuote {
   display: none;
}

#LabelidQuote {
   display: none;
}

#idStatus {
   display: none;
}

#LabelidStatus {
   display: none;
}

#idStatusLog {
   display: none;
}

#LabelidStatusLog {
   display: none;
}

