/*           All that belongs to the GUI           */
#tabButtonAdminHistory {
	height: 20px;
	top: 40px;
	left: 1300px;
	width: 80px;
}

#tabAdminHistory {
	height: 14px;
	top: 40px;
	left: 1300px;
	width: 74px;
}

