table {
	border-spacing: 1px;
}

body {
  font-family: "Tahoma";
  font-size: 12px;
}

form {
	margin-bottom:0px;
}

table {
	width: 100%;
	border-spacing: 0px;
}

tr:hover {
  background-color: silver;
}

th {
  text-align: left;
}

td {
  font-size: 12px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cHtmlFilePath {
  white-space: normal;
}

span {
  font-size: 12px;
  text-align: center;	
  font-family: "Tahoma";
}

label {
	display: inline-block;
	width: 300px;
	text-align: right;
	margin-right: 5px;
	font-style: italic;
}

select {
	font-size: 12px;
	height: 16px;
	margin: 0px;
	padding: 0px;
	border: 1px;
	max-width: 170px;
}

select:disabled {
	color: black;
}

input {
	font-size: 12px;
	border: 0px;
   background-color: #dddddd;
   height: 16px;
   margin: 0px;
   max-width: 200px;
}

input:disabled {
	color: black;
}


img {
  border: 0px;
}

.firstColumn {
	width: 52px;
}

#tabBodyAdmin {
	width: 1500px;
	height: 700px;
	overflow-y: scroll;
	overflow-x: auto;
}

.subBrowserRow  {
  background-color: white;
}

.goButtons {
	margin-top: 0px;
	margin-bottom: 0px;
}

#logo {
  position:absolute;
  top:0px;
  left:1090px;
}

.filter {
	background-color: white;
	border: 1px solid lightgray;
}

.ReservedButton {
	background-color: transparent;
	display: none;
}

.InsertButton {
	width: 23px;
	display: inline-block;
	cursor: pointer;
	color: white;
	background-color: blue;
}

.UpdateButton {
  width: 23px;
  display: inline-block;
  cursor: pointer;
	color: white;
	background-color: red;
	display: none;
}

.DeleteButton {
  width: 23px;
  display: inline-block;
  cursor: pointer;
	color: white;
	background-color: black;
}

.OkButton {
  width: 23px;
  display: inline-block;
  cursor: pointer;
	color: white;
	background-color: green;
	display: none;
}

.CancelButton {
  width: 23px;
  display: inline-block;
  cursor: pointer;
	color: red;
	background-color: white;
	display: none;
}

.GoButton {
  color: white;
  background-color: #BE34BA;
  width: 23px;
  display: inline-block;
}

.BROWSE {
	background-color: gray;
}
.BROWSE:hover {
	background-color: gray;
}
.INSERT {
	background-color: blue;
}
.INSERT:hover {
	background-color: lightblue;
}
.UPDATE {
	background-color: gray;
}
.UPDATE:hover {
	background-color: lightgray;
}
.DELETE {
	background-color: black;
}
.DELETE:hover {
	background-color: red;
}

.cHtmlFilePath {
 width: 165px; 
}

.cHtmlFilePath a {
   display: inline-block;
	background-color: white;
	color: black;
	padding: 0px 3px 0px 3px;
	margin: 0px 0px 0px 0px;
	max-width: 170px;
	max-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 16px;
	width: 140px;
}

.cHtmlFilePath input {
	display: inline;
	width: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#tabHeadAdmin {
	margin: 0 auto;
	height: 100px;
	display: block;
}

#fileBrowser {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 100px;
	z-index: 1000;
	background-color: lightgray;
	overflow-y: scroll;
}
#fileBrowser div:hover {
	color:white;
	background-color: black;
}

.openFileBrowserButton {
   float: right;
   display: inline-block;
	width: 16px;
	height: 16px;
	z-index: 10;
	background-image: url(../img/openFB.png);
}