body {
  font-family: "Tahoma";
  font-size: 12px;
}

form {
  margin-bottom:0px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

th {
	white-space: nowrap;
  text-align: left;
}

td {
  font-size: 12px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

td.subBrowser {
  overflow: auto;
  max-width: none;
}

span {
  font-size: 12px;
  text-align: center; 
  font-family: "Tahoma";
}

label {
  display: inline-block;
  width: 300px;
  text-align: right;
  margin-right: 5px;
  font-style: italic;
}

select {
  font-size: 12px;
  height: 16px;
  margin: 0px;
  padding: 0px;
  border: 1px;
  max-width: 170px;
}

select:disabled {
  color: black;
}

input {
  font-size: 12px;
  border: 0px;
   background-color: #dddddd;
   height: 16px;
   margin: 0px;
   max-width: 200px;
}

input:disabled {
  color: black;
}


img {
  border: 0px;
}

.required {
	border-left: 3px red solid;
}
.defined {
	border-left: 3px lightgreen solid;
}
.required_bar {
	background-color: red;
	width: 3px;
	height: 10px;
	display: inline-block;
	margin-right: 2px;
	margin-top: 2px;
	position: relative;
}
.defined_bar {
	background-color: lightgreen;
	width: 3px;
	border: 0px;
	position: absolute;
}

.firstColumn {
  width: 52px;
  white-space: nowrap;
}

.Status {
  width: 50px;
	max-width: 50px;
	display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabControl {
	position: relative;
}
#tabBodyAdmin {
	 top: 90px;
	 position: relative;
}
.tabBody {
	height: 90%;
  overflow-y: scroll;
  overflow-x: auto;
  position: relative;
  padding-bottom: 10px;
}
.tabHead {
  overflow-y: scroll;
  overflow-x: auto;
}
.tabHeadScroll {
  overflow-y: hidden;
  height: 35px;
}
.subBrowser .tabHeadScroll {
	overflow-y: hidden;
	height: 17px;
}
.tab {
  height: 20px;
  padding: 0px 4px 2px 4px;
  border: 0px;
  margin: 0px 2px 0px 0px;
  display: inline-block;
  font-weight: bold;
}

.tabButton {
  height: 20px;
  padding: 0px 4px 0px 4px;
  border: 0px;
  margin: 0px 2px 2px 0px;
  display: inline-block;
}

.tabButton:hover {
  cursor: pointer;
  color: white;
}

.tabAdmin {
  position: absolute;
  height: 16px;
  border-style: solid;
  border-width: 2px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: block;
  font-weight: bold;
}

.tabButtonAdmin {
  color: black;
  position: absolute;
  height: 20px;
  max-width: 1080px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: block;
}

.tabButtonAdmin:hover {
  cursor: pointer;
  color: white;
}

#FORM_DB_SELECT {
	display: inline;
}





.subBrowserRow  {
  background-color: white;
}

.goButtons {
  margin-top: 0px;
  margin-bottom: 0px;
}

#logo {
  position:absolute;
  top:0px;
  left:1090px;
  width: 126px;
  height: 60px;
}

.filter {
  background-color: white;
  border: 1px solid lightgray;
}

.ReservedButton {
  background-color: transparent;
  display: none;
}

.InsertButton {
  width: 23px;
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: blue;
}

.UpdateButton {
  width: 23px;
  cursor: pointer;
  color: white;
  background-color: red;
  display: none;
}

.DeleteButton {
  width: 23px;
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: black;
}

.EraseButton {
  width: 23px;
  cursor: pointer;
  color: black;
  background-color: red;
  display: none;
}

.OkButton {
  width: 23px;
  cursor: pointer;
  color: white;
  background-color: green;
  display: none;
}

.CancelButton {
  width: 23px;
  cursor: pointer;
  color: red;
  background-color: white;
  display: none;
}

.GoButton {
  color: white;
  background-color: #BE34BA;
  width: 23px;
  display: inline-block;
}

.PrintButton {
  width: 23px;
  cursor: pointer;
  color: white;
  background-color: darkgray;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.BROWSE {
  background-color: gray;
}
.BROWSE:hover {
  background-color: gray;
}
.INSERT {
  background-color: blue;
}
.INSERT:hover {
  background-color: lightblue;
}
.UPDATE {
  background-color: gray;
}
.UPDATE:hover {
  background-color: lightgray;
}
.DELETE {
  background-color: black;
}
.DELETE:hover {
  background-color: red;
}




/* popup Menu */
#popupMenu {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: lightgray;
  padding: 4px;
  border: white solid 2px;
  width: 333px;
}
#popupMenu div:hover {
  color:white;
  background-color: black;
  cursor: pointer;
}
#popupMenu th {
	font-size: 12px;
	white-space: nowrap;
}
#btnAddColumn {
	
}

#btnAlterColumn {
	
}

#btnDeleteColumn {
	
}



#svnrevision {
	position: absolute;
	top: 60px;
}



.cHtmlFilePath {
  white-space: normal;
  width: 165px; 
}

.cHtmlFilePath a {
   display: inline-block;
  background-color: white;
  color: black;
  padding: 0px 3px 0px 3px;
  margin: 0px 0px 0px 0px;
  max-width: 170px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 16px;
  width: 140px;
}

.cHtmlFilePath input {
  display: inline;
  width: 0px;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#fileBrowser {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 100px;
  z-index: 1000;
  background-color: lightgray;
  overflow-y: scroll;
}
#fileBrowser div:hover {
  color:white;
  background-color: black;
}

.openFileBrowserButton {
   float: right;
   display: inline-block;
  width: 16px;
  height: 16px;
  z-index: 10;
  background-image: url(../img/openFB.png);
}

