form {
	margin-bottom:0px;
}

label {
	display: inline-block;
	width: 300px;
	text-align: right;
	margin-right: 5px;
	font-style: italic;
}

select {
	height: 20px;
	margin-top: 5px;
}

select:disabled {
	color: black;
	padding: 0px;
	border: 1px;
	margin: 2px;
}

input {
   border: 0px;
   margin: 2px;
	background-color: #dddddd;
	height: 20px;
	margin-top: 5px;
  font-size: 12px;
}

input:disabled {
	color: black;
}

th {
  text-align: left;
}
td {
  font-size: 12px;
}

tr:hover {
  background-color: silver;
}

span {
  font-size: 12px;
  text-align: center;	
  font-family: "Tahoma";
}

body {
  font-family: "Tahoma";
  font-size: 12px;
}

.goButtons {
	margin-top: 0px;
	margin-bottom: 0px;
}

#tabHeadAdmin {
	margin: 0 auto;
	height: 100px;
	display: block;
}
