/*           All that belongs to the Job           */
#tabButtonAdminJob {
	height: 20px;
	top: 0px;
	left: 1380px;
	width: 80px;
}

#tabAdminJob {
	height: 14px;
	top: 0px;
	left: 1380px;
	width: 74px;
}
