/*           All that belongs to the Material           */
#tabButtonAdminMaterial {
	height: 20px;
	top: 60px;
	left: 360px;
	width: 80px;
}

#tabAdminMaterial {
	height: 14px;
	top: 60px;
	left: 360px;
	width: 76px;
}

