/*           All that belongs to the Material           */
#tabButtonAdminMaterial {
	height: 20px;
	top: 40px;
	left: 240px;
	width: 120px;
}

#tabAdminMaterial {
	height: 14px;
	top: 40px;
	left: 240px;
	width: 116px;
}

