/*           All that belongs to the note           */
#tabButtonAdminNote {
	height: 20px;
	top: 0px;
	left: 1220px;
	width: 80px;
}

#tabAdminNote {
	height: 14px;
	top: 0px;
	left: 1220px;
	width: 74px;
}

