/*           All that belongs to the part           */
#tabButtonAdminPart {
	top: 60px;
	left: 490px;
	height: 20px;
	width: 100px;
}

#tabAdminPart {
	top: 60px;
	left: 490px;
	height: 14px;
	width: 94px;
}

