/*           All that belongs to the part           */
#tabButtonAdminPart {
	top: 40px;
	left: 600px;
	height: 20px;
	width: 120px;
}

#tabAdminPart {
	top: 40px;
	left: 600px;
	height: 14px;
	width: 114px;
}

