/*           All that belongs to the Payment           */
#tabButtonAdminPayment {
	height: 20px;
	top: 20px;
	left: 1020px;
	width: 60px;
}

#tabAdminPayment {
	height: 14px;
	top: 20px;
	left: 1020px;
	width: 54px;
}
