/*           All that belongs to the person           */
#tabButtonAdminPerson {
	height: 20px;
	top: 40px;
	left: 160px;
	width: 80px;
}

#tabAdminPerson {
	height: 14px;
	top: 40px;
	left: 160px;
	width: 74px;
}

