/*           All that belongs to the platform           */
#tabButtonAdminPlatform {
	height: 20px;
	top: 40px;
	left: 720px;
	width: 120px;
}

#tabAdminPlatform {
	height: 14px;
	top: 40px;
	left: 720px;
	width: 114px;
}

