/*           All that belongs to the printparameters           */
#tabButtonAdminPrintParameters {
	height: 20px;
	width: 120px;
	top: 40px;
	left: 360px;
}

#tabAdminPrintParameters {
	height: 14px;
	width: 114px;
	top: 40px;
	left: 360px;
}

