/*           All that belongs to the project           */


#tabAdminProject {
  top: 0px;
  left: 0px;
  width: 1074px;
}

#tabButtonAdminProject {
  top: 0px;
  left: 0px;
  width: 1080px;
}
