/*           All that belongs to the quote           */
#QuoteORDERidQuote, #QuoteORDERProjectName, #QuoteORDERStatusName,
	#QuoteORDERPrintParametersTechnology, #QuoteORDERQuoteLeadTime,
	#QuoteORDERQuotePrice, #QuoteORDERQuoteDateSent {
	
}

#browseFormQuote {
	border: 2px solid #FF6600;
}

#tabButtonQuoteStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px 2px 0px 0px;
}

#tabButtonQuoteQuote {
	color: black;
	background-color: #FF6600;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px 2px 0px 0px;
}

#tabButtonQuoteDataSet {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px 2px 0px 0px;
}

#tabButtonQuoteDemand {
	color: black;
	background-color: #FF3333;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px 2px 0px 0px;
}

#tabButtonQuoteNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px 2px 0px 0px;
}

#tabQuoteStatus {
	color: black;
	background-color: #B2B2B2;
	border: 0 none;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: inline-block;
	font-size: 12px;
	font-family: "Tahoma";
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 0px;
	font-style: italic;
}

#tabQuoteQuote {
	color: black;
	background-color: #FF6600;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: inline-block;
	font-size: 12px;
	font-family: "Tahoma";
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 0px;
	font-style: italic;
}

#tabQuoteDataSet {
	color: black;
	background-color: #B2B2B2;
	border: 0 none;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: inline-block;
	font-size: 12px;
	font-family: "Tahoma";
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 0px;
	font-style: italic;
}

#tabQuoteDemand {
	color: black;
	background-color: #FF3333;
	border: 0 none;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: inline-block;
	font-size: 12px;
	font-family: "Tahoma";
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 0px;
	font-style: italic;
}

#tabQuoteNote {
	color: black;
	background-color: #B2B2B2;
	border: 0 none;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: inline-block;
	font-size: 12px;
	font-family: "Tahoma";
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 0px;
	font-style: italic;
}

#tabAdminQuote {
	color: black;
	background-color: #FF6600;
	position: absolute;
	top: 20px;
	left: 240px;
	height: 14px;
	width: 234px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: block;
}

#tabButtonAdminQuote {
	font-size: 12px;
	color: black;
	background-color: #FF6600;
	position: absolute;
	top: 20px;
	left: 240px;
	height: 20px;
	width: 240px;
	max-width: 240px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: block;
}