/*           All that belongs to the Relation           */
#tabButtonAdminRelation {
	height: 20px;
	top: 20px;
	left: 1300px;
	width: 80px;
}

#tabAdminRelation {
	height: 14px;
	top: 20px;
	left: 1300px;
	width: 74px;
}

#tabRelationLeft,
#tabRelationRight,
#tabButtonRelationLeft,
#tabButtonRelationRight {
	background-color: #cc99ff;
}