/*           All that belongs to the status           */
#tabButtonAdminStatus {
	height: 20px;
	top: 20px;
	left: 1220px;
	width: 80px;
}

#tabAdminStatus {
	height: 14px;
	top: 20px;
	left: 1220px;
	width: 74px;
}

