/*           All that belongs to the statuslog           */
#tabButtonAdminStatusLog {
	height: 20px;
	top: 40px;
	left: 1220px;
	width: 80px;
}

#tabAdminStatusLog {
	height: 14px;
	top: 40px;
	left: 1220px;
	width: 74px;
}

