#tabButtonsbProjectsbProjectProject {
	color: black;
	background-color: #00CCFF;
	height: 20px;
	margin: 0px;
	top: 0px;
	left: 0px;
	padding: 0px;
}

#tabButtonsbCompanysbCompanyProject {
	color: black;
	background-color: #00CCFF;
	height: 20px;
	margin: 0px;
	top: 0px;
	left: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusProject {
	color: black;
	background-color: #00CCFF;
	height: 20px;
	margin: 0px;
	top: 0px;
	left: 0px;
	padding: 0px;
}

#tabButtonsbProjectsbProjectQuote {
	color: black;
	background-color: #FF6600;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbQuotesbQuoteQuote {
	color: black;
	background-color: #FF6600;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPrintParameterssbPrintParametersQuote {
	color: black;
	background-color: #FF6600;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusQuote {
	color: black;
	background-color: #FF6600;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbQuotesbQuoteDataSet {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPrintParameterssbPrintParametersDataSet {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDataSetsbDataSetDataSet {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusDataSet {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbQuotesbQuoteDemand {
	color: black;
	background-color: #FF3333;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDemandsbDemandDemand {
	color: black;
	background-color: #FF3333;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusDemand {
	color: black;
	background-color: #FF3333;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDemandsbDemandInvoice {
	color: black;
	background-color: #99FFFF;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbInvoicesbInvoiceInvoice {
	color: black;
	background-color: #99FFFF;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusInvoice {
	color: black;
	background-color: #99FFFF;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbBuildsbBuildBuild {
	color: black;
	background-color: #FF0000;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPlatformsbPlatformBuild {
	color: black;
	background-color: #FF0000;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbInvoicesbInvoiceDeliveryNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbProjectsbProjectNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDeliveryNotesbDeliveryNoteDeliveryNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusDeliveryNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbIndustrysbIndustryIndustry {
	color: black;
	background-color: #99FF66;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbIndustrysbIndustryCompany {
	color: black;
	background-color: #66FF66;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbCompanysbCompanyCompany {
	color: black;
	background-color: #66FF66;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbCompanysbCompanyAccount {
	color: black;
	background-color: #DDDDDD;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbAccountsbAccountAccount {
	color: black;
	background-color: #DDDDDD;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbCompanysbCompanyAddress {
	color: black;
	background-color: #CCCCCC;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbAddresssbAddressAddress {
	color: black;
	background-color: #CCCCCC;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbCompanysbCompanyPerson {
	color: black;
	background-color: #00CC00;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPersonsbPersonPerson {
	color: black;
	background-color: #00CC00;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPrintParameterssbPrintParametersPrintParameters {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPrintParameterssbPrintParametersPart {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDataSetsbDataSetPart {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPartsbPartPart  {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusPart  {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPlatform_has_PartsbPlatform_has_PartPlatform_has_Part {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPlatformsbPlatformPlatform {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDeliveryTransportsbDeliveryTransportDeliveryTransport {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDeliveryNotesbDeliveryNoteDeliveryTransport {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbNotesbNoteNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbQuotesbQuoteNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDemandsbDemandNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbBuildsbBuildNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbInvoicesbInvoiceNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbIndustrysbIndustryNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbCompanysbCompanyNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPersonsbPersonNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPrintParameterssbPrintParametersNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDataSetsbDataSetNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPlatform_has_PartsbPlatform_has_PartNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPlatformsbPlatformNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDeliveryTransportsbDeliveryTransportNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDeliveryNotesbDeliveryNoteNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbAccountsbAccountNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbAddresssbAddressNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPartsbPartNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatusLogsbStatusLogNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbGUIsbGUINote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbProjectsbProjectStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbQuotesbQuoteStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDemandsbDemandStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbInvoicesbInvoiceStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDataSetsbDataSetStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbDeliveryNotesbDeliveryNoteStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbPartsbPartStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbNotesbNoteStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatusLogsbStatusLogStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatussbStatusStatusLog {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbStatusLogsbStatusLogStatusLog {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#tabButtonsbGUIsbGUIGUI {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: 0px;
	padding: 0px;
}