#tabHeadAdmin {
	margin: 0 auto;
}

#tabButtonAdminProject {
	color: black;
	background-color: #00CCFF;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	width: 1080px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminIndustry {
	color: black;
	background-color: #99FF66;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminCompany {
	color: black;
	background-color: #66FF66;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 80px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminAccount {
	color: black;
	background-color: #DDDDDD;
	height: 20px;
	position: absolute;
	top: 60px;
	left: 80px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminAddress {
	color: black;
	background-color: #CCCCCC;
	height: 20px;
	position: absolute;
	top: 60px;
	left: 160px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminPerson {
	color: black;
	background-color: #99FF66;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 160px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminQuote {
	font-size: 12px;
	color: black;
	background-color: #FF6600;
	position: absolute;
	top: 20px;
	left: 240px;
	height: 20px;
	width: 240px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminDataSet {
	color: black;
	background-color: #B2B2B2;
	position: absolute;
	top: 40px;
	left: 480px;
	height: 20px;
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminPart {
	color: black;
	background-color: #B2B2B2;
	position: absolute;
	top: 60px;
	left: 490px;
	height: 20px;
	width: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminPrintParameters {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	width: 120px;
	position: absolute;
	top: 40px;
	left: 360px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminDemand {
	color: black;
	background-color: #FF3333;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 480px;
	width: 240px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminPlatform {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 720px;
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminPlatform_has_Part {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 600px;
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminBuild {
	color: black;
	background-color: #FFFF00;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 720px;
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminDeliveryNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 960px;
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminDeliveryTransport {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 840px;
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminInvoice {
	color: black;
	background-color: #99FFFF;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 960px;
	width: 120px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminNote {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 1220px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminStatus {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 1220px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminStatusLog {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 40px;
	left: 1220px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabButtonAdminGUI {
	color: black;
	background-color: #B2B2B2;
	height: 20px;
	position: absolute;
	top: 60px;
	left: 1220px;
	width: 80px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}