#tabAdminProject {
	color: black;
	background-color: #00CCFF;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 14px;
	width: 1074px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminIndustry {
	color: black;
	background-color: #99FF66;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 76px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminCompany {
	color: black;
	background-color: #66FF66;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 80px;
	width: 76px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminAccount {
	color: black;
	background-color: #DDDDDD;
	height: 14px;
	position: absolute;
	top: 60px;
	left: 80px;
	width: 74px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminAddress {
	color: black;
	background-color: #CCCCCC;
	height: 14px;
	position: absolute;
	top: 60px;
	left: 160px;
	width: 74px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminPerson {
	color: black;
	background-color: #99FF66;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 160px;
	width: 74px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminQuote {
	color: black;
	background-color: #FF6600;
	position: absolute;
	top: 20px;
	left: 240px;
	height: 14px;
	width: 234px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminDataSet {
	color: black;
	background-color: #B2B2B2;
	position: absolute;
	top: 40px;
	left: 480px;
	height: 14px;
	width: 114px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminPart {
	color: black;
	background-color: #B2B2B2;
	position: absolute;
	top: 60px;
	left: 490px;
	height: 14px;
	width: 94px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminPrintParameters {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	width: 114px;
	position: absolute;
	top: 40px;
	left: 360px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminDemand {
	color: black;
	background-color: #FF3333;
	height: 14px;
	position: absolute;
	top: 20px;
	left: 480px;
	width: 234px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminPlatform {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 720px;
	width: 114px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminPlatform_has_Part {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 600px;
	width: 114px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminBuild {
	color: black;
	background-color: #FFFF00;
	height: 14px;
	position: absolute;
	top: 20px;
	left: 720px;
	width: 114px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminDeliveryNote {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 960px;
	width: 114px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminDeliveryTransport {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 840px;
	width: 114px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminInvoice {
	color: black;
	background-color: #99FFFF;
	height: 14px;
	position: absolute;
	top: 20px;
	left: 960px;
	width: 114px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminNote {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 0px;
	left: 1220px;
	width: 74px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminStatus {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 20px;
	left: 1220px;
	width: 74px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminStatusLog {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 40px;
	left: 1220px;
	width: 74px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#tabAdminGUI {
	color: black;
	background-color: #B2B2B2;
	height: 14px;
	position: absolute;
	top: 60px;
	left: 1220px;
	width: 74px;
	border-style: solid;
	border-width: 3px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}