/*           All that belongs to the Task           */
#tabButtonAdminTask {
	height: 20px;
	top: 20px;
	left: 1380px;
	width: 80px;
}

#tabAdminTask {
	height: 14px;
	top: 20px;
	left: 1380px;
	width: 74px;
}

