input:disabled {
	color: black;
}
select:disabled {
	color: black;
	padding: 0px;
	border: 1px;
	margin: 2px;
}
select {
	background-color: #dfefff;
	height: 20px;
	margin-top: 5px;
}

form {
	margin-bottom:0px;
}

label {
	display: inline-block;
	width: 300px;
	text-align: right;
	margin-right: 5px;
	font-style: italic;
}

input {
   border: 0px;
   margin: 2px;
	background-color: #dddddd;
	height: 20px;
	margin-top: 5px;
}

#tabAdminProject {
	color: fuchsia;
}
#tabButtonAdminProject {
	background-color: fuchsia;
}

#idAddress {
	visibility: hidden;
}
#LabelidAddress {
	visibility: hidden;
}

#AddressName {
	background-color: #fffedf;
}

#LabelAddressName {
   padding-left: 20px;
   display: inline-block;
   min-width: 300px;
	font-size: 22px;
}